<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <p>
                <label for="userName">CPF, CNPJ ou E-mail</label>
                <input type="userName" id="userName" class="form-control" formControlName="userName">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </p>
            <p>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Entrar</button>
            </p>
        </form>
    </div>
</div>