.login {
    margin: 10px auto;
    padding: 50px;
    max-width: 400px;
    /* border: 2px solid #ccc; */
}

.spinner {
    text-align: center;
    padding: 50px;
    color: #444;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

.input {
    margin-bottom: 30px;
}

.button {
    width: 100%;
    margin: auto;
    background-color: #6131b4;

}

.dados-incorretos {
    color: red;
    font-size: 12px;
}